<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875606982154-3d8nb7isahoupirvq74mov88etbeucv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875606982154-3d8nb7isahoupirvq74mov88etbeucv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDlAh18wZOWRe9G6EgGsIB7SslT1iX56d4</string>
	<key>GCM_SENDER_ID</key>
	<string>875606982154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adrianwritenow.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f7e4a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f7e4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875606982154:ios:5c8c48d0b3d440c54469f3</string>
</dict>
</plist>